@import 'react-pro-sidebar/dist/scss/styles.scss';

$azul: #f2fcff;
$azul2: #f2fcff;
$azul-text: #0476d9;
$whatsapp: #25d366;
$shadow: #0000001b;
$hover: #0476d93a;
$text: #444444;
$text-cinza: #888888;
$branco: #ffffff;
$cinzaShadow: #8e8e8e3f;
$cinzaShadowTranspaarent: rgba(124, 124, 124, 0.144);
$background: #FBFBFB;

$preto: #878787;
$cinza: #e0e0e0; 
$logo: #3d3d3d;

$marginHorizontal: 0 .8rem;
$marginVertical: .8rem 0;
$marginVerticalInterna: .4rem 0;
$BTN_borderAntigo: 1px solid $cinzaShadow;
$BTN_border: 1px solid rgba(142, 142, 142, 0.2470588235);
$BTN_borderRadius: .4rem;
$BTN_borderRadiusCircle: 50rem;
$BTN_margin: 0 .2rem;
$BTN_padding: .4rem .8rem;
$BTN_paddingInterna: .2rem .4rem;
$BTN_paddingXL: 1.2rem .4rem;
$BTN_height: 2.4rem;
$amarelo: #FFBB00;
$vermelho: #ff5b5b;
$vermelhoEscuro: #802E2E;
$animationDefault: .3s ease-in-out both;
$shadowDafault: 0px 2px 4px rgba(142, 142, 142, 0.2470588235);
$shadowEasy: 0px 1px 4px rgba(0, 0, 0, 0.08);
$shadowHardLeft: -4px 0px 8px rgba(0, 0, 0, 0.08);
$transparent: rgba(255, 255, 255, 0.80);

$status_verde1: #66CC00;
$status_verde2: #66cc0066;
$status_verde3: #66cc0027;