@import '@/styles/variaveis.scss';

.defaultDashboard{
    // background-color: $background;
    display: grid;
    grid-template-rows: auto 2fr;
    grid-template-columns: .4fr 2fr .4fr;
    height: 100vh;
    grid-template-areas: 
    "header header header"
    "menuLeft - menuRight";
    position: relative;
    &__main{
        position: relative;

        height: 100vh;
        display: grid;
        grid-template-columns: .4fr 2fr .4fr;

        @media screen and(max-width: 1024px){
            &{
                display: grid;
                grid-template-rows: auto 1fr ;
                grid-template-columns: 1fr;
            }
        }
    }
}