@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

$sidebar-bg-color: none;
$submenu-bg-color: none;
$submenu-bg-color-collapsed: rgba(29, 29, 29, 0.95);
$sidebar-color: #adadad;
// $highlight-color: #50da1e;

@import 'react-pro-sidebar/dist/scss/styles.scss';


.app {
  
  .collapsed {
    .sidebar-btn {
      display: inline-block;
      border-radius: 50%;
      width: 35px;
      height: 35px;
      line-height: 40px;
      padding: 0;
    }
  }


  .social-bagdes {
    // margin-top: 10px;
    img {
      // margin: 5px;
    }
  }

  .block {
    display: flex;
    // margin-bottom: 24px;
    font-size: 14px;
    color: #545454;
    > span {
      // margin-left: 10px;
    }
  }

  &.rtl {
    direction: rtl;
    text-align: right;
    background-color: blue;
    header {
      h1 {
        transform: translateX(20px);
      }
    }
    .block {
      direction: rtl;
      > span {
        margin-left: 0;
        margin-right: 10px;
      }
    }
    .sidebar-btn-wrapper {
      .sidebar-btn {
        span {
          // margin-left: 0;
          // margin-right: 5px;
        }
      }
    }
  }

  @media (max-width: 767.98px) {
    overflow-x: hidden;
    header {
      h1 {
        font-size: 24px;
      }
    }
  }
  @media (max-width: $breakpoint-md) {
    .btn-toggle {
      display: flex;
    }

    &.rtl {
      .btn-toggle {
        margin-left: auto;
      }
    }
  }
}

.badge {
  padding: 3px 6px;
  font-size: 9px;
  letter-spacing: 1px;
  border-radius: 15px;
  &.red {
    color: #ffffff;
    background: #d63030;
  }
  &.gray {
    color: #ffffff;
    background: #777777;
  }
  &.yellow {
    color: #000000;
    background: #ffd331;
  }
}